header {
    padding: 10px 0;
    text-align: center;
    color: var(--third-text-color);
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    background: var(--main-color);

    img {
        width: 200px;
    }
}